.card-body canvas {
  width: 100% !important;
  height: 100% !important;
}

.form-label {
  font-size: 0.85rem;
  margin-bottom: 2px;
}

select.form-select-sm {
  padding: 0.25rem 0.5rem;
}
.custom-label {
  font-size: 1.1rem;  
  font-weight: 500;
  color: #333;
  margin-bottom: 4px;
  display: inline-block;
}
.dashboard-container {
  margin: 24px; 
}


